forwardtable:
  default:
    port: 8443
  "some.virtual.host":
    port: 8080
  shorthost:
    port: 8080
    host: "longhost"

# port and address to listen on
plain_port: 80
tls_port: 443
listen: ""

# for letsencrypt SimpleHttp/http-01 challenge
acmedir: "webroot"
# letsencrypt certificate dir
certdir: "live"

logfile: mp0.log
