forwardtable:
  # default target: required
  default:
    port: 8443
  # other ServerName: lower-case
  "some.virtual.host":
    port: 8080
  shorthost:
    port: 8080
    host: "longhost"
  longhost:
    port: 8080
  reversehost:
    port: 443
    host: www.google.com
    override_host: true

# port and address to listen on
plain_port: 80
tls_port: 443
# can be "localhost", "127.0.0.1", "::1", ...
# (don't use brackets around ipv6 addresses, as they are added as needed)
listen: ""

# for letsencrypt SimpleHttp/http-01 challenge
acmedir: "webroot"
# letsencrypt certificate dir
certdir: "live"

logfile: mp0.log

# skip verification for upstream server's certificate
skip_verify: 0

# some debug logging
log_debug: 0

default_host: "localhost"
sni_compat: false
