forwardtable:
  default: 8443
  "some.virtual.host": 8080

# port and address to listen on
plain_port: 80
tls_port: 443
listen: ""

# for letsencrypt SimpleHttp/http-01 challenge
acmedir: "webroot"
# letsencrypt certificate dir
certdir: "live"

logfile: mp0.log
